

.header, 
.header .topbar {

  background-color: black !important; 
  
  --default-color: #ffffff !important;
  --heading-color: #ffffff !important;
  --nav-color: #ffffff !important; 
  --contrast-color: #ffffff !important;
}


.header .logo h1, 
.header .navmenu a,
.header .topbar .contact-info i span {
    color: white !important;
}


.header .navmenu li:hover>a,
.header .navmenu .active {
    color: #cccccc !important; 
}

.header button.dropdown-toggle span {
    color: white !important;
}

main {
    margin-top: 100px; 
    
    background-color: white; 
}


main h1, main p, main div {
    color: black;
}


.header .branding .container {
    justify-content: center !important; 
}

.header .branding .container .logo {
    margin-right: 30px; 
}